@import '../../node_modules/foundation-sites/scss/foundation.scss';



// $button-background: #6ED6D5;



$body-font-family: 'Titillium Web', sans-serif;
$header-font-family: 'Titillium Web', sans-serif;
$button-radius: 3px;
$button-font-weight: 700;
$button-color: $white;


@include foundation-typography;
@include foundation-global-styles;

@include foundation-flex-classes;
@include foundation-flex-grid;

@include foundation-button;

